<app-header-admin></app-header-admin>
<br><br>
<br><br>

<nav aria-label="breadcrumb" class="px-4">
  <ol class="breadcrumb custom-breadcrumb p-2 rounded">
    <li class="breadcrumb-item">
      <a [routerLink]="['/home']" class="breadcrumb-home">Inicio</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">
      Crear Contrato
    </li>
  </ol>
</nav>


<div class="text-end mt-3 px-4">
     <a class="btn btn-dark" [routerLink]="['/Vercontratos']">
        Ver todos los contratos
    </a>
</div>

<br><br>

    <h3 class="card-title text-center mb-4">Crear Contrato de Venta</h3>



<div class="container home-admin-container mt-5 pt-3">
    <div class="card p-4 shadow">
        <div class="progress-container-wrapper mb-4">
            <div class="progress-item-clickable" [class.active]="currentStep === 1" (click)="goToStep(1)">1. Lote</div>
            <div class="progress-item-clickable" [class.active]="currentStep === 2" (click)="goToStep(2)">2. Cliente</div>
            <div class="progress-item-clickable" [class.active]="currentStep === 3" (click)="goToStep(3)">3. Contrato</div>
            <div class="progress-item-clickable" [class.active]="currentStep === 4" (click)="goToStep(4)">4. Predio</div>
            <div class="progress-item-clickable" [class.active]="currentStep === 5" (click)="goToStep(5)">5. Colindancias</div>
            <div class="progress-item-clickable" [class.active]="currentStep === 6" (click)="goToStep(6)">6. Firma</div>
        </div>
        <form [formGroup]="contratoForm" (ngSubmit)="onSubmit()">

            <div class="form-step w-100" *ngIf="currentStep === 1">
                <h4 class="mb-3 text-dark">Paso 1: Buscar Lote</h4>
                <div class="row g-3 bg-light p-3 rounded">

                    <div class="col-md-4">
                        <label class="form-label">Folio del Lote <span class="text-danger">*</span></label>
                        <input type="number" formControlName="id_lote" class="form-control" (keydown)="evitarNotacion($event)" maxlength="15" (input)="limitarMax($event, 15)">

                        <div class="text-danger mt-1" *ngIf="contratoForm.get('id_lote')?.hasError('pattern')">
                            Solo se permiten números.
                        </div>
                        <div *ngIf="contratoForm.get('id_lote')?.errors?.['loteNoDisponible']" class="text-danger mt-1">
                            Este lote no está disponible (rentado, vendido o en proceso).
                        </div>
                        <div *ngIf="contratoForm.get('id_lote')?.errors?.['loteNoExiste']" class="text-danger mt-1">
                            No existe un lote con este ID.
                        </div>
                        <div *ngIf="contratoForm.get('id_lote')?.errors?.['maxlength']">
                            Máximo 15 caracteres.
                        </div>
                    </div>

                    <div *ngIf="loteSeleccionado" class="row mt-3 w-100">
                        <div class="col-md-4">
                            <label class="form-label">Manzana</label>
                            <input type="text" class="form-control" [value]="loteSeleccionado.manzana" readonly>
                        </div>
                        <div class="col-md-4">
                            <label class="form-label">Número de Lote</label>
                            <input type="text" class="form-control" [value]="loteSeleccionado.numlote" readonly>
                        </div>
                        <div class="col-md-4">
                            <label class="form-label">Dirección</label>
                            <input type="text" class="form-control" [value]="loteSeleccionado.direccion" readonly>
                        </div>
                        <div class="col-md-4">
                            <label class="form-label">Colonia</label>
                            <input type="text" class="form-control" [value]="loteSeleccionado.nombre_colonia" readonly>
                        </div>
                        <div class="col-md-4">
                            <label class="form-label">Ciudad</label>
                            <input type="text" class="form-control" [value]="loteSeleccionado.nombre_ciudad" readonly>
                        </div>
                        <div class="col-md-4">
                            <label class="form-label">Estado</label>
                            <input type="text" class="form-control" [value]="loteSeleccionado.nombre_estado" readonly>
                        </div>
                        <div class="col-md-4">
                            <label class="form-label">Precio</label>
                            <input type="text" class="form-control" formControlName="precio_total" readonly>
                        </div>
                        <div class="col-md-4">
                            <label class="form-label">Nombre del Propietario</label>
                            <input type="text" class="form-control" [value]="loteSeleccionado?.propietario_nombre" readonly>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-step w-100" *ngIf="currentStep === 2">
                <h4 class="mb-3 text-dark">Paso 2: Datos del Cliente</h4>
                <div class="row g-3 bg-light p-3 rounded">

                    <div class="col-md-4">
                        <label class="form-label">Correo del Cliente <span class="text-danger">*</span></label>
                        <input type="email" formControlName="correo_cliente" class="form-control" maxlength="30" (input)="limitarMax($event, 30)">
                        <div class="text-danger mt-1" *ngIf="contratoForm.get('correo_cliente')?.hasError('email')">
                            Ingresa un correo válido.
                        </div>
                        <div class="text-danger mt-1" *ngIf="contratoForm.get('correo_cliente')?.errors?.['correoNoExiste']">
                            No existe un cliente registrado con este correo.
                        </div>
                        <div *ngIf="contratoForm.get('correo_cliente')?.errors?.['maxlength']">
                            Máximo 30 caracteres.
                        </div>
                    </div>

                    <div class="col-md-4">
                        <label class="form-label">Nombre</label>
                        <input type="text" formControlName="nombre" class="form-control" readonly>
                    </div>

                    <div class="col-md-4">
                        <label class="form-label">Apellido Paterno</label>
                        <input type="text" formControlName="apellido_paterno" class="form-control" readonly>
                    </div>

                    <div class="col-md-4">
                        <label class="form-label">Apellido Materno</label>
                        <input type="text" formControlName="apellido_materno" class="form-control" readonly>
                    </div>

                    <div class="col-md-4">
                        <label class="form-label">Teléfono</label>
                        <input type="text" formControlName="telefono" class="form-control" readonly>
                    </div>
                </div>
            </div>

            <div class="form-step w-100" *ngIf="currentStep === 3">
                <h4 class="mb-3 text-dark">Paso 3: Información del Contrato</h4>
                <div class="row g-3 bg-light p-3 rounded">

                    <div class="col-md-4">
                        <label class="form-label">Enganche <span class="text-danger">*</span></label>
                        <input type="number" formControlName="enganche" class="form-control" (keydown)="evitarNotacion($event)" maxlength="10" (input)="limitarMax($event, 10)">
                        <div class="text-danger mt-1" *ngIf="contratoForm.get('enganche')?.hasError('pattern')">
                            Solo se permiten números positivos.
                        </div>

                        <div class="text-danger mt-1" *ngIf="contratoForm.get('enganche')?.hasError('engancheMayor')">
                            El enganche debe ser menor o igual al precio total.
                        </div>
                        <div *ngIf="contratoForm.get('enganche')?.errors?.['maxlength']">
                            Máximo 10 caracteres.
                        </div>
                    </div>

                    <div class="col-md-4">
                        <label class="form-label">Plazo (meses) <span class="text-danger">*</span></label>
                        <input type="number" formControlName="plazo_meses" class="form-control" (keydown)="evitarNotacion($event)" maxlength="2" (input)="limitarMax($event, 2)">
                        <div class="text-danger mt-1" *ngIf="contratoForm.get('plazo_meses')?.hasError('min')">
                            Debe ser mínimo 1 mes.
                        </div>

                        <div class="text-danger mt-1" *ngIf="contratoForm.get('plazo_meses')?.hasError('max')">
                            El plazo máximo permitido es 12 meses.
                        </div>

                        <div class="text-danger mt-1" *ngIf="contratoForm.get('plazo_meses')?.hasError('pattern')">
                            Solo se permiten números enteros positivos.
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-step w-100" *ngIf="currentStep === 4">
                <h4 class="mb-3 text-dark">Paso 4: Información Adicional del Predio (Para PDF)</h4>
                <div class="row g-3 bg-light p-3 rounded">

                    <div class="col-md-6">
                        <label class="form-label">Nombre del Predio<span class="text-danger">*</span></label>
                        <input type="text" formControlName="nombre_predio" class="form-control" maxlength="20" (input)="limitarMax($event, 20)">

                        <div *ngIf="contratoForm.get('nombre_predio')?.touched && contratoForm.get('nombre_predio')?.invalid" class="text-danger small">
                            <div *ngIf="contratoForm.get('nombre_predio')?.errors?.['required']">
                                El nombre del predio es obligatorio.
                            </div>
                            <div *ngIf="contratoForm.get('nombre_predio')?.errors?.['minlength']">
                                Debe tener al menos 3 caracteres.
                            </div>
                            <div *ngIf="contratoForm.get('nombre_predio')?.errors?.['pattern']">
                                Solo se permiten letras y espacios.
                            </div>
                            <div *ngIf="contratoForm.get('nombre_predio')?.errors?.['maxlength']">
                                Máximo 20 caracteres.
                            </div>
                        </div>
                    </div>

                    <h6 class="mt-3">Acreditando la propiedad con:</h6>

                    <div class="col-md-6">
                        <label class="form-label">Tipo de Documento<span class="text-danger">*</span></label>
                        <input type="text" formControlName="tipo_documento" class="form-control" maxlength="30" (input)="limitarMax($event, 30)">

                        <div *ngIf="contratoForm.get('tipo_documento')?.touched && contratoForm.get('tipo_documento')?.invalid" class="text-danger small">
                            <div *ngIf="contratoForm.get('tipo_documento')?.errors?.['required']">
                                El tipo de documento es obligatorio.
                            </div>
                            <div *ngIf="contratoForm.get('tipo_documento')?.errors?.['pattern']">
                                Solo se permiten letras y espacios.
                            </div>
                            <div *ngIf="contratoForm.get('tipo_documento')?.errors?.['maxlength']">
                                Máximo 30 caracteres.
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <label class="form-label">Número / Folio de Escritura<span class="text-danger">*</span></label>
                        <input type="text" formControlName="folio_escritura" class="form-control" (keypress)="soloNumerosDecimales($event)" maxlength="11" (input)="limitarMax($event, 11)">
                        <div *ngIf="contratoForm.get('folio_escritura')?.touched && contratoForm.get('folio_escritura')?.invalid" class="text-danger small">
                            <div *ngIf="contratoForm.get('folio_escritura')?.errors?.['required']">
                                El número o folio de escritura es obligatorio.
                            </div>
                            <div *ngIf="contratoForm.get('folio_escritura')?.errors?.['minlength']">
                                Debe tener al menos 3 caracteres.
                            </div>
                            <div *ngIf="contratoForm.get('folio_escritura')?.errors?.['maxlength']">
                                Máximo 11 caracteres.
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <label class="form-label">Fecha de Emisión<span class="text-danger">*</span></label>
                        <input type="date" formControlName="fecha_emision" class="form-control">
                        <div *ngIf="contratoForm.get('fecha_emision')?.touched && contratoForm.get('fecha_emision')?.invalid" class="text-danger small">
                            <div *ngIf="contratoForm.get('fecha_emision')?.errors?.['required']">
                                La fecha de emisión es obligatoria.
                            </div>
                            <div *ngIf="contratoForm.get('fecha_emision')?.errors?.['fechaFutura']">
                                La fecha no puede ser mayor a la fecha actual.
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <label class="form-label">Registro Público (folios)<span class="text-danger">*</span></label>
                        <input type="text" formControlName="registro_publico" class="form-control" maxlength="30" (input)="limitarMax($event, 30)">
                        <div *ngIf="contratoForm.get('registro_publico')?.touched && contratoForm.get('registro_publico')?.invalid" class="text-danger small">
                            <div *ngIf="contratoForm.get('registro_publico')?.errors?.['pattern']">
                                Solo se permiten letras, números y guiones.
                            </div>
                            <div *ngIf="contratoForm.get('registro_publico')?.errors?.['maxlength']">
                                Máximo 30 caracteres.
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <label class="form-label">Fecha del Registro Público <span class="text-danger">*</span></label>
                        <input type="date" formControlName="fecha_registro_publico" class="form-control">

                        <div class="text-danger small"
                            *ngIf="contratoForm.get('fecha_registro_publico')?.touched && contratoForm.get('fecha_registro_publico')?.invalid">

                            <div *ngIf="contratoForm.get('fecha_registro_publico')?.errors?.['required']">
                                Esta fecha es obligatoria.
                            </div>
                            <div *ngIf="contratoForm.get('fecha_registro_publico')?.errors?.['fechaFutura']">
                                La fecha no puede ser mayor a la fecha actual.
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-step w-100" *ngIf="currentStep === 5">
                <h4 class="mb-3 text-dark">Paso 5: Colindancias y Medidas del Terreno</h4>
                <div class="row g-3 bg-light p-3 rounded">

                    <h6 class="mt-3">Colindancias del Terreno</h6>

                    <div class="col-md-3">
                        <label class="form-label">Norte<span class="text-danger">*</span></label>
                        <input type="text" formControlName="colindancia_norte" class="form-control" maxlength="30" (input)="limitarMax($event, 30)">
                        <div *ngIf="contratoForm.get('colindancia_norte')?.touched && contratoForm.get('colindancia_norte')?.invalid" class="text-danger small">
                            <div *ngIf="contratoForm.get('colindancia_norte')?.errors?.['minlength']">
                                La colindancia debe tener al menos 3 caracteres.
                            </div>
                            <div *ngIf="contratoForm.get('colindancia_norte')?.errors?.['maxlength']">
                                Máximo 30 caracteres.
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <label class="form-label">Sur<span class="text-danger">*</span></label>
                        <input type="text" formControlName="colindancia_sur" class="form-control" maxlength="30" (input)="limitarMax($event, 30)">
                        <div *ngIf="contratoForm.get('colindancia_sur')?.touched && contratoForm.get('colindancia_sur')?.invalid" class="text-danger small">
                            <div *ngIf="contratoForm.get('colindancia_sur')?.errors?.['minlength']">
                                La colindancia debe tener al menos 3 caracteres.
                            </div>
                            <div *ngIf="contratoForm.get('colindancia_sur')?.errors?.['maxlength']">
                                Máximo 30 caracteres.
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <label class="form-label">Oriente<span class="text-danger">*</span></label>
                        <input type="text" formControlName="colindancia_este" class="form-control" maxlength="30" (input)="limitarMax($event, 30)">
                        <div *ngIf="contratoForm.get('colindancia_este')?.touched && contratoForm.get('colindancia_este')?.invalid" class="text-danger small">
                            <div *ngIf="contratoForm.get('colindancia_este')?.errors?.['minlength']">
                                La colindancia debe tener al menos 3 caracteres.
                            </div>
                            <div *ngIf="contratoForm.get('colindancia_este')?.errors?.['maxlength']">
                                Máximo 30 caracteres.
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <label class="form-label">Poniente<span class="text-danger">*</span></label>
                        <input type="text" formControlName="colindancia_oeste" class="form-control" maxlength="30" (input)="limitarMax($event, 30)">
                        <div *ngIf="contratoForm.get('colindancia_oeste')?.touched && contratoForm.get('colindancia_oeste')?.invalid" class="text-danger small">
                            <div *ngIf="contratoForm.get('colindancia_oeste')?.errors?.['minlength']">
                                La colindancia debe tener al menos 3 caracteres.
                            </div>
                            <div *ngIf="contratoForm.get('colindancia_oeste')?.errors?.['maxlength']">
                                Máximo 30 caracteres.
                            </div>
                        </div>
                    </div>

                    <h6 class="mt-4">Medidas del Terreno (en metros)</h6>

                    <div class="col-md-3">
                        <label class="form-label">Medida Norte (m)<span class="text-danger">*</span></label>
                        <input type="text" formControlName="medida_norte" class="form-control" (keypress)="soloNumerosDecimales($event)" maxlength="15" (input)="limitarMax($event, 15)">

                        <div *ngIf="contratoForm.get('medida_norte')?.touched && contratoForm.get('medida_norte')?.invalid"
                            class="text-danger small">
                            <div *ngIf="contratoForm.get('medida_norte')?.errors?.['required']">
                                La medida es obligatoria.
                            </div>
                            <div *ngIf="contratoForm.get('medida_norte')?.errors?.['pattern']">
                                Solo se permiten números (ej. 10 o 10.5).
                            </div>
                            <div *ngIf="contratoForm.get('medida_norte')?.errors?.['maxlength']">
                                Máximo 15 caracteres.
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <label class="form-label">Medida Sur (m)<span class="text-danger">*</span></label>
                        <input type="text" formControlName="medida_sur" class="form-control" (keypress)="soloNumerosDecimales($event)" maxlength="15" (input)="limitarMax($event, 15)">

                        <div *ngIf="contratoForm.get('medida_sur')?.touched && contratoForm.get('medida_sur')?.invalid"
                            class="text-danger small">
                            <div *ngIf="contratoForm.get('medida_sur')?.errors?.['required']">
                                La medida es obligatoria.
                            </div>
                            <div *ngIf="contratoForm.get('medida_sur')?.errors?.['pattern']">
                                Solo se permiten números (ej. 12 o 12.3).
                            </div>
                            <div *ngIf="contratoForm.get('medida_sur')?.errors?.['maxlength']">
                                Máximo 15 caracteres.
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <label class="form-label">Medida Oriente (m)<span class="text-danger">*</span></label>
                        <input type="text" formControlName="medida_este" class="form-control" (keypress)="soloNumerosDecimales($event)" maxlength="15" (input)="limitarMax($event, 15)">

                        <div *ngIf="contratoForm.get('medida_este')?.touched && contratoForm.get('medida_este')?.invalid"
                            class="text-danger small">
                            <div *ngIf="contratoForm.get('medida_este')?.errors?.['required']">
                                La medida es obligatoria.
                            </div>
                            <div *ngIf="contratoForm.get('medida_este')?.errors?.['pattern']">
                                Solo se permiten números (ej. 15 o 15.8).
                            </div>
                            <div *ngIf="contratoForm.get('medida_este')?.errors?.['maxlength']">
                                Máximo 15 caracteres.
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <label class="form-label">Medida Poniente (m)<span class="text-danger">*</span></label>
                        <input type="text" formControlName="medida_oeste" class="form-control" (keypress)="soloNumerosDecimales($event)" maxlength="15" (input)="limitarMax($event, 15)">

                        <div *ngIf="contratoForm.get('medida_oeste')?.touched && contratoForm.get('medida_oeste')?.invalid"
                            class="text-danger small">
                            <div *ngIf="contratoForm.get('medida_oeste')?.errors?.['required']">
                                La medida es obligatoria.
                            </div>
                            <div *ngIf="contratoForm.get('medida_oeste')?.errors?.['pattern']">
                                Solo se permiten números (ej. 14 o 14.2).
                            </div>
                            <div *ngIf="contratoForm.get('medida_oeste')?.errors?.['maxlength']">
                                Máximo 15 caracteres.
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-step w-100" *ngIf="currentStep === 6">
                <h4 class="mb-3 text-dark">Paso 6: Firma</h4>
                <div class="row g-3 bg-light p-3 rounded">

                    <div class="col-md-4">
                        <label class="form-label">Ciudad donde se firma <span class="text-danger">*</span></label>
                        <input type="text" formControlName="ciudadFirma" class="form-control" maxlength="30" (input)="limitarMax($event, 30)">

                        <div class="text-danger small" 
                            *ngIf="contratoForm.get('ciudadFirma')?.touched && contratoForm.get('ciudadFirma')?.invalid">

                            <div *ngIf="contratoForm.get('ciudadFirma')?.errors?.['required']">
                                La ciudad es obligatoria.
                            </div>

                            <div *ngIf="contratoForm.get('ciudadFirma')?.errors?.['pattern']">
                                Solo se permiten letras y espacios.
                            </div>

                            <div *ngIf="contratoForm.get('ciudadFirma')?.errors?.['maxlength']">
                                Máximo 30 caracteres.
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <label class="form-label">Fecha de Firma <span class="text-danger">*</span></label>
                        <input type="date" formControlName="fecha_firma" class="form-control">

                        <div class="text-danger small"
                            *ngIf="contratoForm.get('fecha_firma')?.touched && contratoForm.get('fecha_firma')?.invalid">

                            <div *ngIf="contratoForm.get('fecha_firma')?.errors?.['required']">
                                La fecha de firma es obligatoria.
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="d-flex justify-content-between align-items-center mt-4 pt-3 border-top">
                <button type="button" class="btn btn-secondary" (click)="goToStep(currentStep - 1)" [disabled]="currentStep === 1">
                    <i class="bi bi-arrow-left"></i> Anterior
                </button>

                <div class="text-center">
                    <button class="btn btn-silver me-2" type="reset" 
                        (click)="contratoForm.reset({estado_contrato:'activo'})">
                        <i class="bi bi-eraser-fill"></i> Limpiar
                    </button>
                    <button type="button" class="btn btn-info text-white" (click)="generarPDFContrato()" [disabled]="!contratoForm.valid">
                        <i class="bi bi-file-earmark-pdf-fill"></i> Descargar PDF
                    </button>
                </div>

                <div class="text-end">
                    <button type="button" class="btn btn-dark" (click)="goToStep(currentStep + 1)" [disabled]="currentStep === 6 || !isCurrentStepValid(currentStep)">
                        Siguiente <i class="bi bi-arrow-right"></i>
                    </button>

                    <button class="btn btn-gold ms-2" type="submit" 
                            [disabled]="currentStep !== 6 || enviando || (loteSeleccionado?.estado_propiedad !== 'disponible')">
                        {{ enviando ? 'Creando...' : 'Registrar Contrato' }}
                    </button>
                </div>
            </div>

        </form>

    </div>
</div>

<app-footer-admin></app-footer-admin>