<app-header-admin></app-header-admin>

<div class="clientes-container container-fluid mt-5 pt-4">
  <h2 class="text-center mb-4 text-gold">Gestión de Clientes</h2>

  <!-- 🔍 Filtros -->
  <div class="card p-3 mb-4 shadow-sm bg-light">
    <h5 class="text-dark mb-3">Filtros de búsqueda</h5>
    <div class="row g-3">
      <div class="col-md-3">
        <input type="text" class="form-control" placeholder="Buscar por nombre" [(ngModel)]="filtroNombre">
      </div>
      <div class="col-md-3">
        <input type="text" class="form-control" placeholder="Buscar por correo" [(ngModel)]="filtroCorreo">
      </div>
      <div class="col-md-3">
        <input type="text" class="form-control" placeholder="Buscar por CURP" [(ngModel)]="filtroCurp">
      </div>
      <div class="col-md-3">
        <input type="text" class="form-control" placeholder="Buscar por Clave INE" [(ngModel)]="filtroClave">
      </div>
    </div>
  </div>

  <!-- Botón -->
  <div class="text-center mb-4">
    <button class="btn btn-gold px-4" (click)="mostrarFormulario = !mostrarFormulario">
      {{ mostrarFormulario ? 'Cerrar formulario' : '➕ Agregar nuevo cliente' }}
    </button>
  </div>

  <!-- FORMULARIO CREAR -->
  <div *ngIf="mostrarFormulario">
    <ng-container *ngIf="!modoEdicion; else editarForm">
      <div class="form-container card p-4 shadow-sm mb-5">
        <h3 class="mb-3 text-gold">Registrar nuevo cliente</h3>

        <form #clienteForm="ngForm" (ngSubmit)="crearCliente(clienteForm)" novalidate>

          <div class="row">
            <div class="col-md-4 mb-3">
              <label>Nombre *</label>
              <input class="form-control" name="nombre" required
                     [(ngModel)]="nuevoCliente.nombre" />
            </div>

            <div class="col-md-4 mb-3">
              <label>Apellido Paterno *</label>
              <input class="form-control" name="apellido_paterno" required
                     [(ngModel)]="nuevoCliente.apellido_paterno" />
            </div>

            <div class="col-md-4 mb-3">
              <label>Apellido Materno *</label>
              <input class="form-control" name="apellido_materno" required
                     [(ngModel)]="nuevoCliente.apellido_materno" />
            </div>
          </div>

          <div class="row">
            <div class="col-md-4 mb-3">
              <label>Correo *</label>
              <input type="email" class="form-control" name="correo" required
                     [(ngModel)]="nuevoCliente.correo" />
            </div>

            <div class="col-md-4 mb-3">
              <label>Teléfono *</label>
              <input type="tel" class="form-control" name="telefono" required maxlength="10"
                     (input)="validarTelefono($event)"
                     [(ngModel)]="nuevoCliente.telefono" />
            </div>

            <div class="col-md-4 mb-3">
              <label>CURP *</label>
              <input class="form-control" name="curp" required maxlength="18" minlength="18"
       (input)="limpiarCurp()"
       [(ngModel)]="nuevoCliente.curp" />

            </div>
          </div>

          <div class="row">

            <div class="col-md-6 mb-3">
              <label>Clave de Elector (INE) *</label>
             <input class="form-control" name="clave_elector" required maxlength="20"
       (input)="limpiarClaveElector()"
       [(ngModel)]="nuevoCliente.clave_elector" />

            </div>

            <div class="col-md-6 mb-3">
              <label>Documento INE (PDF) *</label>
              <input type="file" class="form-control" name="doc_identificacion" required accept="application/pdf"
                     (change)="nuevoCliente.doc_identificacion = $any($event.target).files[0]" />
            </div>

          </div>

          <div class="row">
            <div class="col-md-6 mb-3">
              <label>Documento CURP (PDF) *</label>
              <input type="file" class="form-control" name="doc_curp" required accept="application/pdf"
                     (change)="nuevoCliente.doc_curp = $any($event.target).files[0]" />
            </div>
          </div>

          <div class="text-center mt-3">
            <button type="submit" class="btn btn-gold me-2 px-4"
                    [disabled]="clienteForm.invalid">Guardar</button>
            <button type="reset" class="btn btn-silver px-4">Limpiar</button>
          </div>
        </form>
      </div>
    </ng-container>

    <!-- FORMULARIO EDICIÓN -->
    <ng-template #editarForm>
      <div class="form-container card p-4 shadow-sm mb-5">
        <h3 class="mb-3 text-gold">Editar cliente</h3>

        <form #editForm="ngForm" (ngSubmit)="actualizarCliente()" novalidate>

          <div class="row">
            <div class="col-md-4 mb-3">
              <label>Nombre *</label>
              <input class="form-control" name="nombre" required
                     [(ngModel)]="clienteSeleccionado!.nombre" />
            </div>

            <div class="col-md-4 mb-3">
              <label>Correo *</label>
              <input type="email" class="form-control" name="correo" required
                     [(ngModel)]="clienteSeleccionado!.correo" />
            </div>

            <div class="col-md-4 mb-3">
              <label>Teléfono *</label>
              <input type="tel" class="form-control" name="telefono" required maxlength="10"
                     (input)="validarTelefono($event)"
                     [(ngModel)]="clienteSeleccionado!.telefono" />
            </div>
          </div>

          <div class="row">

            <div class="col-md-6 mb-3">
              <label>Actualizar Documento INE (PDF)</label>
              <input type="file" class="form-control" accept="application/pdf"
                     (change)="clienteSeleccionado!.doc_identificacion = $any($event.target).files[0]" />
            </div>

            <div class="col-md-6 mb-3">
              <label>Actualizar Documento CURP (PDF)</label>
              <input type="file" class="form-control" accept="application/pdf"
                     (change)="clienteSeleccionado!.doc_curp = $any($event.target).files[0]" />
            </div>

          </div>

          <div class="text-center mt-3">
            <button class="btn btn-gold me-2 px-4" type="submit">Actualizar</button>
            <button class="btn btn-silver px-4" type="button" (click)="cancelarEdicion()">Cancelar</button>
          </div>

        </form>

      </div>
    </ng-template>
  </div>

  <!-- TABLA -->
  <div class="table-responsive mt-4">
    <table class="table table-striped align-middle text-center mb-0">
      <thead class="table-dark">
        <tr>
          <th>Nombre</th>
          <th>Correo</th>
          <th>Teléfono</th>
          <th>CURP</th>
          <th>Acciones</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let c of clientes | filter:filtroNombre:filtroCorreo:filtroCurp:filtroClave">
          <td>{{c.nombre}} {{c.apellido_paterno}} {{c.apellido_materno}}</td>
          <td>{{c.correo}}</td>
          <td>{{c.telefono}}</td>
          <td>{{c.curp}}</td>
          <td>
            <button class="btn btn-gold btn-sm me-1" (click)="editarCliente(c)">✏️</button>
            <button class="btn btn-silver btn-sm" (click)="eliminarCliente(c.curp)">🗑️</button>
          </td>
        </tr>

        <tr *ngIf="!clientes.length">
          <td colspan="5" class="text-muted">No hay clientes registrados.</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- Toast -->
<div aria-live="polite" aria-atomic="true"
     class="toast-container position-fixed top-0 start-50 translate-middle-x p-3">
  <div id="liveToast" class="toast text-bg-success" role="alert">
    <div class="toast-header">
      <strong class="me-auto toast-title">Notificación</strong>
      <button type="button" class="btn-close" data-bs-dismiss="toast"></button>
    </div>
    <div class="toast-body"></div>
  </div>
</div>

<app-scroll-top></app-scroll-top>
<app-footer-admin></app-footer-admin>
